footer {border-top:10px solid black; background-color: rgb(100, 104, 94);}
nav {border-top:10px solid black; background-color:;}
content {border-top:10px solid whitesmoke; background-color: rgb(100, 104, 94);}